body{
    background-image: url("img/galaxy.jpg");
    background-repeat:repeat-x repeat-y;
    background-size:cover contain;
    background-position:center;

}
.px-4{
    background-color:darkblue
}

.mb-4{
    color:white

}

.fw-bold{
    color:white
}

.accent{
    background-color:cyan;
    margin-top: 100px;
}

.pb-1{
    color:black
}