body{
    background-image: url("img/galaxy.jpg");
    background-repeat:repeat-x repeat-y;
    background-size:cover contain;
    background-position:center;


}
.px-4{
    background-color:darkblue;
    border-radius:50px
}

.mb-4{
    color:white

}

.fw-bold{
    color:white;
    font-family:'fontdiner-swanky'
}

.accent{
    background-color:cyan;
    margin-top: 100px;
    border-radius:50px
}

.pb-1{
    color:black
}


.pb-2{
    color:black
}

.accent2{
    background-color:lightgray;
    margin-top: 100px;
    border-radius:50px
}

.accent3{
    background-color:rgb(0, 4, 67);
    margin-top:100px;
    border-radius:50px
}

.accent4{
    background-color:white;
    margin-top:100px;
    margin-bottom:100px;
    border-radius:50px
}

.pb-4{
    color:black;
}

.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
     font-family: "Fontdiner Swanky", serif;
}


.noto-sans-mono {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar{
    border-radius:50px
}

.accent5{
    color:white;
}